* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
}

/**
 * Add borders for the left/right pane
 */
#leftPane {
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	height: 500px;
	border-radius: 2px;
	overflow-y: scroll;
	word-wrap: break-word;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#rightPane {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-radius: 2px;
	height: 500px;
	overflow-y: scroll;
	word-wrap: break-word;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
