extends layout

block content
	h1(class="text-center" style="font-family:cursive") 'Hail a Cab' data-hack
	div(class="form-group row col-md-12")
		label(for="session-id" class="col-xs-2 col-form-label")
			| Hijacked Session ID
		div(class="col-xs-4")
			input(class="form-control" type="text" id="session-id")
	.container-fluid
		.row
			div(class="col-sm-6" id="leftPane")
				h3(class="text-center")
					| Fetch the number of taxis at a given place now.
				br
				form(class="col-lg-6" id="first-hack")
					div(class="form-group row col-6")
						label(for="place" class="col-md-6 col-form-label")
							| Select a place
						div(class="btn-group col-md-6" id="place")
							<a class="btn dropdown-toggle btn-select btn-primary" data-toggle="dropdown" href="#">Select a place <span class="caret"></span></a>
							ul(class="dropdown-menu")
								li
									<a href='#'>state capitol</a>
								li
									<a href='#'>sixth street</a>
								li
									<a href='#'>UT Austin</a>
								li
									<a href='#'>mount bonell</a>
								li
									<a href='#'>lake travis</a>
								li
									<a href='#'>lake Austin</a>
								li
									<a href='#'>Austin Zoo</a>
								li
									<a href='#'>barton springs pool</a>
								li
									<a href='#'>zilker park</a>
								li
									<a href='#'>hamilton pool</a>
								li
									<a href='#'>lady bird lake</a>
								li
									<a href='#'>bullock texas state history museum</a>
								li
									<a href='#'>mexic-arte museum</a>
								li
									<a href='#'>hippie hollow park</a>
								li
									<a href='#'>the paramount theatre</a>
								li
									<a href='#'>the driskill</a>
								li
									<a href='#'>city bridge segway tour</a>
								li
									<a href='#'>pease park</a>
					button(type="submit" class="btn btn-primary" id="submit1")
						| Submit
					br
					br
					div(id="result1")
			div(class="col-sm-6" id="rightPane")
				h3(class="text-center")
					| Get estimated fare from a source to destination.
				br
				form(class="col-lg-6" id="second-hack")
					div(class="form-group row")
						label(for="source" class="col-md-8 col-form-label")
							| Select source
						div(class="btn-group col-md-4" id="source")
							<a class="btn dropdown-toggle btn-select btn-primary" data-toggle="dropdown" href="#">Select a place <span class="caret"></span></a>
							ul(class="dropdown-menu")
								li
									<a href='#'>state capitol</a>
								li
									<a href='#'>sixth street</a>
								li
									<a href='#'>UT Austin</a>
								li
									<a href='#'>mount bonell</a>
								li
									<a href='#'>lake travis</a>
								li
									<a href='#'>lake Austin</a>
								li
									<a href='#'>Austin Zoo</a>
								li
									<a href='#'>barton springs pool</a>
								li
									<a href='#'>zilker park</a>
								li
									<a href='#'>hamilton pool</a>
								li
									<a href='#'>lady bird lake</a>
								li
									<a href='#'>bullock texas state history museum</a>
								li
									<a href='#'>mexic-arte museum</a>
								li
									<a href='#'>hippie hollow park</a>
								li
									<a href='#'>the paramount theatre</a>
								li
									<a href='#'>the driskill</a>
								li
									<a href='#'>city bridge segway tour</a>
								li
									<a href='#'>pease park</a>
					div(class="form-group row")
						label(for="destination" class="col-md-8 col-form-label")
							| Select destination
						div(class="btn-group col-md-4" id="destination")
							<a class="btn dropdown-toggle btn-select btn-primary" data-toggle="dropdown" href="#">Select a place <span class="caret"></span></a>
							ul(class="dropdown-menu")
								li
									<a href='#'>state capitol</a>
								li
									<a href='#'>sixth street</a>
								li
									<a href='#'>UT Austin</a>
								li
									<a href='#'>mount bonell</a>
								li
									<a href='#'>lake travis</a>
								li
									<a href='#'>lake Austin</a>
								li
									<a href='#'>Austin Zoo</a>
								li
									<a href='#'>barton springs pool</a>
								li
									<a href='#'>zilker park</a>
								li
									<a href='#'>hamilton pool</a>
								li
									<a href='#'>lady bird lake</a>
								li
									<a href='#'>bullock texas state history museum</a>
								li
									<a href='#'>mexic-arte museum</a>
								li
									<a href='#'>hippie hollow park</a>
								li
									<a href='#'>the paramount theatre</a>
								li
									<a href='#'>the driskill</a>
								li
									<a href='#'>city bridge segway tour</a>
								li
									<a href='#'>pease park</a>
					button(type="submit" class="btn btn-primary" id="submit2")
						| Submit
					br
					br
					div(id="result2")