doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		block content
		script(type='text/javascript' src='/js/jquery-1.11.1.min.js')
		script(type='text/javascript' src='/js/util.js')
		script(type='text/javascript' src='/js/bootstrap.min.js')
		script(type='text/javascript' src='/js/bootstrap-select.min.js')
		script(type='text/javascript' src="http://harvesthq.github.io/chosen/chosen.jquery.js")
		script(type='text/javascript' src='/js/main.js')
